* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.5px;
}

body {
  padding: 20px 150px;
  background-color: whitesmoke;
}

.container {
  width: 560px;
  margin: auto;
}

.landscape-mode {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .container {
    width: 100vw;
  }
  .container-header {
    height: 130px;
    width: 100%;
    padding: 5px;
    justify-content: space-evenly;
  }
  .logo {
    width: 30%;
  }
  .logo-text {
    font-size: 48px;
  }
  .scoreboard {
    width: 40%;
  }
  .scoreboard-content-box {
    width: 48%;
  }
  .instructions {
    margin: 5px 0;
  }
  .controls-container {
    width: 100vw;
    justify-content: space-around;
  }
  .controls-container button {
    height: 70px;
  }
  .game-board {
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (max-width: 400px) {
  .container-header {
    width: 100%;
    height: 120px;
    padding: 0;
  }
  .logo {
    width: 40%;
  }
  .logo-text {
    font-size: 42px;
  }
  .scoreboard {
    width: 55%;
  }
  .scoreboard-content-box {
    width: 48%;
  }
}

@media screen and (orientation: landscape) and (max-height: 768px) {
  .landscape-mode {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .landscape-mode p {
    font-size: 200px;
  }
  .container {
    display: none;
  }
}

