
.container-header {
  display: flex;
  height: 150px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 100%;
  width: 40%;
  background-color: burlywood; 
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.logo-text {
  color: #dee;
  font-size: 72px;
  font-weight: 400;
}

.scoreboard {
  height: 100%;
  width: 50%;
}

.scoreboard-scores {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: space-between;
}

.scores-content div p {
  font-size: 28px;
}

.scoreboard-buttons {
  display: flex;
  height: 50%;
  justify-content: space-between;
}

.scoreboard-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 48%;
  background-color: wheat;
  border-radius: 5px;
  text-align: center;
}

.scoreboard-content-box button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 500;
  padding: 5px;
}

.instructions {
  margin: 20px 0;
  text-align: center;
}
.score-goal {
  font-weight: bold;
}

.instructions p {
  display: block;
}

.btn:hover {
  cursor: pointer;
}
